In [1]:
%load_ext sql
%sql mysql://root:Gabu0508@localhost/sakila

In [21]:
%%sql
CREATE DATABASE PizzaProject

 * mysql://root:***@localhost/sakila
(MySQLdb.ProgrammingError) (1007, "Can't create database 'pizzaproject'; database exists")
[SQL: CREATE DATABASE PizzaProject]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [30]:
%%sql
USE PizzaProject

 * mysql://root:***@localhost/sakila
0 rows affected.

[]

In [14]:
%%sql

CREATE TABLE Account (
    AccountID INT PRIMARY KEY AUTO_INCREMENT,
    Username NVARCHAR(40) NOT NULL UNIQUE,
    Password NVARCHAR(40) NOT NULL
);

CREATE TABLE Customer (
    CustomerID INT PRIMARY KEY AUTO_INCREMENT,
    FirstName NVARCHAR(40),
    LastName NVARCHAR(40),
    Gender CHAR(1),
    Birthdate DATE,
    Phone NVARCHAR(15),
    NumerOfPizzas INT,
    AccountID INT,
    FOREIGN KEY (AccountID) REFERENCES Account(AccountID)
);

CREATE TABLE Area (
    AreaID INT PRIMARY KEY AUTO_INCREMENT,
    PostalCode NVARCHAR(15) NOT NULL UNIQUE
);

CREATE TABLE DeliveryAddress(
    DeliveryAddressID INT PRIMARY KEY AUTO_INCREMENT,
    StreetName NVARCHAR(40),
    HouseNumber NVARCHAR(40),
    PostalCode NVARCHAR(15) NOT NULL,
    FOREIGN KEY (PostalCode) REFERENCES Area(PostalCode)
);

CREATE TABLE CustomerDeliveryAddress(
    DeliveryAddressID INT,
    CustomerID INT,
    PRIMARY KEY (CustomerID, DeliveryAddressID),
    FOREIGN KEY (CustomerID) REFERENCES Customer(CustomerID),
    FOREIGN KEY (DeliveryAddressID) REFERENCES DeliveryAddress(DeliveryAddressID)
);

CREATE TABLE `Order`(
    OrderID INT PRIMARY KEY AUTO_INCREMENT,
    CustomerID INT,
    DeliveryAddressID INT,
    OrderPlacementTime DATETIME,
    OrderStatus ENUM('In processing', 'Being Prepared', 'On the way', 'Delivered', 'Cancelled') DEFAULT 'In processing',
    FOREIGN KEY (CustomerID) REFERENCES Customer(CustomerID),
    FOREIGN KEY (DeliveryAddressID) REFERENCES DeliveryAddress(DeliveryAddressID)
);

CREATE TABLE Item(
    ItemID INT PRIMARY KEY AUTO_INCREMENT,
    ItemName NVARCHAR(40),
    ItemType ENUM('Pizza', 'Drink', 'Dessert')
);

CREATE TABLE OrderItem(
    OrderID INT,
    ItemID INT,
    Quantity INT,
    PRIMARY KEY (OrderID, ItemID),
    FOREIGN KEY (OrderID) REFERENCES `Order`(OrderID),
    FOREIGN KEY (ItemID) REFERENCES Item(ItemID)
);

CREATE TABLE Ingredient (
    IngredientID INT PRIMARY KEY AUTO_INCREMENT,
    IngredientName NVARCHAR(100) NOT NULL,
    Price DECIMAL(10, 2) NOT NULL
);

CREATE TABLE IngredientList (
    IngredientListID INT PRIMARY KEY AUTO_INCREMENT,
    ItemID INT,
    IngredientID INT,
    FOREIGN KEY (ItemID) REFERENCES Item(ItemID),
    FOREIGN KEY (IngredientID) REFERENCES Ingredient(IngredientID)
);

CREATE TABLE RestrictionType (
    RestrictionTypeID INT PRIMARY KEY AUTO_INCREMENT,
    Vegan BIT,
    Vegetarian BIT,
    GlutenFree BIT,
    LactoseFree BIT
);

CREATE TABLE IngredientType (
    IngredientID INT,
    RestrictionTypeID INT,
    PRIMARY KEY (IngredientID, RestrictionTypeID),
    FOREIGN KEY (IngredientID) REFERENCES Ingredient(IngredientID),
    FOREIGN KEY (RestrictionTypeID) REFERENCES RestrictionType(RestrictionTypeID)
);

CREATE TABLE DeliveryPerson (
    DeliveryPersonID INT PRIMARY KEY AUTO_INCREMENT,
    Availability ENUM('Available', 'Not available')
);

CREATE TABLE DeliveryPersonArea (
    DeliveryPersonID INT,
    AreaID INT,
    PRIMARY KEY (DeliveryPersonID, AreaID),
    FOREIGN KEY (DeliveryPersonID) REFERENCES DeliveryPerson(DeliveryPersonID),
    FOREIGN KEY (AreaID) REFERENCES Area(AreaID)
);

CREATE TABLE OrderDelivery (
    OrderID INT,
    DeliveryPersonID INT,
    DeliveryStartTime DATETIME,
    EstimatedDeliveryTime DATETIME,
    PRIMARY KEY (OrderID, DeliveryPersonID),
    FOREIGN KEY (OrderID) REFERENCES `Order`(OrderID),
    FOREIGN KEY (DeliveryPersonID) REFERENCES DeliveryPerson(DeliveryPersonID)
);

Traceback (most recent call last):
  File "c:\Users\Home1\AppData\Local\Programs\Python\Python312\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Home1\AppData\Local\Programs\Python\Python312\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

:

In [5]:
%%sql

-- Insert Pizzas
INSERT INTO Item (ItemName, ItemType) VALUES 
('Margherita', 'Pizza'),
('Pepperoni', 'Pizza'),
('BBQ Chicken', 'Pizza'),
('Vegetarian', 'Pizza'),
('Meat Lover', 'Pizza'),
('Ham and Cheese', 'Pizza'),
('Quattro Formaggi', 'Pizza'),
('Hawaiian', 'Pizza'),
('Personalized Pizza', 'Pizza');

-- Insert Drinks
INSERT INTO Item (ItemName, ItemType) VALUES 
('Cola', 'Drink'),
('Lemonade', 'Drink'),
('Water', 'Drink'),
('Iced Tea', 'Drink');

-- Insert Desserts
INSERT INTO Item (ItemName, ItemType) VALUES 
('Tiramisu', 'Dessert'),
('Cheesecake', 'Dessert'),
('Chocolate Cake', 'Dessert'),
('Vanilla Ice Cream', 'Dessert');

 * mysql://root:***@localhost/sakila
9 rows affected.
4 rows affected.
4 rows affected.
(MySQLdb.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '('Pepperoni', 3.00),\n('BBQ Sauce', 1.20),\n('Grilled Chicken', 3.50),\n('Bell Pepp' at line 8")
[SQL: -- Insert Ingredients
INSERT INTO Ingredient (IngredientName, Price) VALUES
('Dough', 4.00),
('Calzone base', 4.50),
('Tomato Sauce', 1.00),
('Mozzarella', 2.00),
('Vegan cheese', 3.00)
('Pepperoni', 3.00),
('BBQ Sauce', 1.20),
('Grilled Chicken', 3.50),
('Bell Peppers', 1.00),
('Mushrooms', 1.00),
('Onions', 0.50),
('Bacon', 2.50),
('Ham', 2.50),
('Hot Sausage', 3.50),
('Blue Cheese', 2.50),
('Robiola Cheese', 2.50),
('Gruyère Cheese', 2.50),
('Pecorino Cheese', 2.50),
('Pineapple', 1.00),
('Cola', 2.50),
('Lemonade', 2.80),
('Water', 1.50),
('Iced Tea', 2.50),
('Tiramisu', 4.80),
('Cheesecake', 5.50),
('Chocolate Cake', 4.20),
('Vanilla Ice Cream', 5.00);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [8]:
%%sql

-- Insert Ingredients
INSERT INTO Ingredient (IngredientName, Price) VALUES 
('Dough', 4.00),
('Calzone base', 4.50),
('Tomato Sauce', 1.00),
('Mozzarella', 2.00),
('Vegan cheese', 3.00),
('Pepperoni', 3.00),
('BBQ Sauce', 1.20),
('Grilled Chicken', 3.50),
('Bell Peppers', 1.00),
('Mushrooms', 1.00),
('Onions', 0.50),
('Bacon', 2.50),
('Ham', 2.50),
('Hot Sausage', 3.50),
('Blue Cheese', 2.50),
('Robiola Cheese', 2.50),
('Gruyère Cheese', 2.50),
('Pecorino Cheese', 2.50),
('Pineapple', 1.00),
('Cola', 2.50),
('Lemonade', 2.80),
('Water', 1.50),
('Iced Tea', 2.50),
('Tiramisu', 4.80),
('Cheesecake', 5.50),
('Chocolate Cake', 4.20),
('Vanilla Ice Cream', 5.00);

 * mysql://root:***@localhost/sakila
27 rows affected.

[]

In [11]:
%%sql

-- Insert Ingredient List for Pizzas
INSERT INTO IngredientList (ItemID, IngredientID) VALUES 
(1, 1), -- Margherita with Base
(1, 3), -- Margherita with Tomato Sauce
(1, 4), -- Margherita with Mozzarella
(2, 1), -- Pepperoni with Base
(2, 3), -- Pepperoni with Tomato Sauce
(2, 4), -- Pepperoni with Mozzarella
(2, 6), -- Pepperoni with Pepperoni
(3, 1), -- BBQ Chicken with Base
(3, 3), -- BBQ Chicken with Tomato Sauce
(3, 4), -- BBQ Chicken with Mozzarella
(3, 7), -- BBQ Chicken with BBQ Sauce
(3, 8), -- BBQ Chicken with Grilled Chicken
(4, 1), -- Vegetarian with Base
(4, 3), -- Vegetarian with Tomato Sauce
(4, 4), -- Vegetarian with Mozzarella
(4, 9), -- Vegetarian with Bell Peppers
(4, 10), -- Vegetarian with Mushrooms
(4, 11), -- Vegetarian with Onions
(5, 1), -- Meat Lover with Base
(5, 3), -- Meat Lover with Tomato Sauce
(5, 4), -- Meat Lover with Mozzarella
(5, 6), -- Meat Lover with Pepperoni
(5, 12), -- Meat Lover with Bacon
(5, 13), -- Meat Lover with Ham
(5, 14), -- Meat Lover with Hot Sausage
(6, 1), -- Ham and Cheese with Base
(6, 3), -- Ham and Cheese with Tomato Sauce
(6, 4), -- Ham and Cheese with Mozzarella
(6, 13), -- Ham and Cheese with Ham
(7, 1), -- Quattro Formaggi with Base
(7, 3), -- Quattro Formaggi with Tomato Sauce
(7, 15), -- Quattro Formaggi with Blue Cheese
(7, 16), -- Quattro Formaggi with Robiola Cheese
(7, 17), -- Quattro Formaggi with Gruyère Cheese
(7, 18), -- Quattro Formaggi with Pecorino Cheese
(8, 1), -- Hawaiian with Base
(8, 3), -- Hawaiian with Tomato Sauce
(8, 4), -- Hawaiian with Mozzarella
(8, 13), -- Hawaiian with Ham
(8, 19), -- Hawaiian with Pineapple

-- Insert Ingredient List for Drinks
(10, 20), -- Cola with Cola
(11, 21), -- Lemonade with Lemonade
(12, 22), -- Water with Water
(13, 23), -- Iced Tea with Iced Tea

-- Insert Ingredient List for Desserts
(14, 24), -- Tiramisu with Tiramisu
(15, 25), -- Cheesecake with Cheesecake
(16, 26), -- Chocolate Cake with Chocolate Cake
(17, 27); -- Vanilla Ice Cream with Vanilla Ice Cream

 * mysql://root:***@localhost/sakila
48 rows affected.

[]

In [32]:
%%sql
SELECT *
FROM DeliveryAddress

 * mysql://root:***@localhost/sakila
2 rows affected.

[(3, 'Cornelia Street', '1', '2345HD'), (4, 'super street', '23', '1122TF')]

In [26]:
%%sql 

CREATE TABLE Coupons (
    CouponID INT PRIMARY KEY AUTO_INCREMENT,
    CouponCode NVARCHAR(20) NOT NULL UNIQUE,
    DiscountPercentage DECIMAL(5, 2) NOT NULL,
    ExpirationDate DATE,
    Used BIT DEFAULT 0
);

 * mysql://root:***@localhost/sakila
0 rows affected.

[]

In [29]:
%%sql
INSERT INTO Coupons (CouponCode, DiscountPercentage, ExpirationDate) 
VALUES ('fc111', 10, '2024-12-01')

 * mysql://root:***@localhost/sakila
1 rows affected.

[]

In [40]:
%%sql
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'pizzaproject'

 * mysql://root:***@localhost/sakila
70 rows affected.

[('def', 'pizzaproject', 'account', 'AccountID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'account', 'Username', 2, None, 'NO', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', 'UNI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'account', 'Password', 3, None, 'NO', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'area', 'AreaID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'area', 'PostalCode', 2, None, 'NO', 'varchar', 15, 45, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(15)', 'UNI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'coupons', 'CouponID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'coupons', 'CouponCode', 2, None, 'NO', 'varchar', 20, 60, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(20)', 'UNI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'coupons', 'DiscountPercentage', 3, None, 'NO', 'decimal', None, None, 5, 2, None, None, None, 'decimal(5,2)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'coupons', 'ExpirationDate', 4, None, 'YES', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'coupons', 'Used', 5, "b'0'", 'YES', 'bit', None, None, 1, None, None, None, None, 'bit(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'CustomerID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'FirstName', 2, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'LastName', 3, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'Gender', 4, None, 'YES', 'char', 1, 4, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'char(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'Birthdate', 5, None, 'YES', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'Phone', 6, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'NumberOfPizzas', 7, '0', 'YES', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'AccountID', 8, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'MilestoneCount', 9, '10', 'YES', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customerdeliveryaddress', 'DeliveryAddressID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customerdeliveryaddress', 'CustomerID', 2, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customers', 'CustomerID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customers', 'FirstName', 2, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customers', 'LastName', 3, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customers', 'Gender', 4, None, 'YES', 'char', 1, 4, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'char(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customers', 'Birthdate', 5, None, 'YES', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customers', 'Phone', 6, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customers', 'AccountID', 7, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'custompizzaingredients', 'CustomPizzaID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'custompizzaingredients', 'OrderItemID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'custompizzaingredients', 'IngredientID', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'custompizzaingredients', 'Quantity', 4, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryaddress', 'DeliveryAddressID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryaddress', 'StreetName', 2, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryaddress', 'HouseNumber', 3, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryaddress', 'PostalCode', 4, None, 'NO', 'varchar', 15, 45, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(15)', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryperson', 'DeliveryPersonID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryperson', 'Availability', 2, None, 'YES', 'enum', 13, 52, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', "enum('Available','Not available')", '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliverypersonarea', 'DeliveryPersonID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliverypersonarea', 'AreaID', 2, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredient', 'IngredientID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredient', 'IngredientName', 2, None, 'NO', 'varchar', 100, 300, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(100)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredient', 'Price', 3, None, 'NO', 'decimal', None, None, 10, 2, None, None, None, 'decimal(10,2)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredientlist', 'IngredientListID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredientlist', 'ItemID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredientlist', 'IngredientID', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredienttype', 'IngredientID', 1, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredienttype', 'RestrictionTypeID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'item', 'ItemID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'item', 'ItemName', 2, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'item', 'ItemType', 3, None, 'YES', 'enum', 7, 28, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', "enum('Pizza','Drink','Dessert')", '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'OrderID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'CustomerID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'DeliveryAddressID', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'OrderStatus', 4, 'In processing', 'YES', 'enum', 14, 56, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', "enum('In processing','Being Prepared','On the way','Delivered')", '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'OrderPlacementTime', 5, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'TotalPrice', 6, '0.00', 'YES', 'decimal', None, None, 10, 2, None, None, None, 'decimal(10,2)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderdelivery', 'OrderID', 1, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderdelivery', 'DeliveryPersonID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderdelivery', 'DeliveryStartTime', 3, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderdelivery', 'EstimatedDeliveryTime', 4, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderitem', 'OrderID', 1, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderitem', 'ItemID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderitem', 'Quantity', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderitem', 'OrderItemID', 4, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'restrictiontype', 'RestrictionTypeID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'restrictiontype', 'Vegan', 2, None, 'YES', 'tinyint', None, None, 3, 0, None, None, None, 'tinyint(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'restrictiontype', 'Vegetarian', 3, None, 'YES', 'tinyint', None, None, 3, 0, None, None, None, 'tinyint(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'restrictiontype', 'GlutenFree', 4, None, 'YES', 'tinyint', None, None, 3, 0, None, None, None, 'tinyint(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'restrictiontype', 'LactoseFree', 5, None, 'YES', 'tinyint', None, None, 3, 0, None, None, None, 'tinyint(1)', '', '', 'select,insert,update,references', '', '', None)]

In [47]:
%%sql

ALTER TABLE `Order`
ADD OrderPlacementTime DATETIME

 * mysql://root:***@localhost/sakila
0 rows affected.

[]

In [33]:
%%sql

SELECT *
FROM CustomerDelivery

 * mysql://root:***@localhost/sakila
(MySQLdb.ProgrammingError) (1146, "Table 'pizzaproject.customerdelivery' doesn't exist")
[SQL: SELECT *
FROM CustomerDelivery]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [72]:
%%sql

ALTER TABLE Customer
CHANGE COLUMN NumerOfPizzas NumberOfPizzas INT;

 * mysql://root:***@localhost/sakila
(MySQLdb.OperationalError) (1054, "Unknown column 'NumerOfPizzas' in 'customer'")
[SQL: ALTER TABLE Customer
CHANGE COLUMN NumerOfPizzas NumberOfPizzas INT;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [42]:
%%sql

CREATE TABLE CustomPizzaIngredients (
    CustomPizzaID INT AUTO_INCREMENT PRIMARY KEY, 
    OrderItemID INT,  
    IngredientID INT, 
    Quantity INT,
    FOREIGN KEY (OrderItemID) REFERENCES OrderItem(OrderItemID),
    FOREIGN KEY (IngredientID) REFERENCES Ingredient(IngredientID)
);

 * mysql://root:***@localhost/sakila
0 rows affected.

[]

In [10]:
%%sql

ALTER TABLE RestrictionType 
MODIFY COLUMN Vegan BOOLEAN;

ALTER TABLE RestrictionType 
MODIFY COLUMN Vegetarian BOOLEAN;

ALTER TABLE RestrictionType 
MODIFY COLUMN GlutenFree BOOLEAN;

ALTER TABLE RestrictionType 
MODIFY COLUMN LactoseFree BOOLEAN;

 * mysql://root:***@localhost/sakila
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [12]:
%%sql

SELECT * 
FROM RestrictionType

 * mysql://root:***@localhost/sakila
16 rows affected.

[(1, 0, 0, 0, 0),
 (2, 0, 0, 0, 1),
 (3, 0, 0, 1, 0),
 (4, 0, 0, 1, 1),
 (5, 0, 1, 0, 0),
 (6, 0, 1, 0, 1),
 (7, 0, 1, 1, 0),
 (8, 0, 1, 1, 1),
 (9, 1, 0, 0, 0),
 (10, 1, 0, 0, 1),
 (11, 1, 0, 1, 0),
 (12, 1, 0, 1, 1),
 (13, 1, 1, 0, 0),
 (14, 1, 1, 0, 1),
 (15, 1, 1, 1, 0),
 (16, 1, 1, 1, 1)]

In [11]:
%%sql

INSERT INTO RestrictionType (Vegan, Vegetarian, GlutenFree, LactoseFree)
VALUES
    (0, 0, 0, 0),  -- No restrictions
    (0, 0, 0, 1),  -- Lactose-Free
    (0, 0, 1, 0),  -- Gluten-Free
    (0, 0, 1, 1),  -- Gluten-Free, Lactose-Free
    (0, 1, 0, 0),  -- Vegetarian
    (0, 1, 0, 1),  -- Vegetarian, Lactose-Free
    (0, 1, 1, 0),  -- Vegetarian, Gluten-Free
    (0, 1, 1, 1),  -- Vegetarian, Gluten-Free, Lactose-Free
    (1, 0, 0, 0),  -- Vegan
    (1, 0, 0, 1),  -- Vegan, Lactose-Free
    (1, 0, 1, 0),  -- Vegan, Gluten-Free
    (1, 0, 1, 1),  -- Vegan, Gluten-Free, Lactose-Free
    (1, 1, 0, 0),  -- Vegan, Vegetarian
    (1, 1, 0, 1),  -- Vegan, Vegetarian, Lactose-Free
    (1, 1, 1, 0),  -- Vegan, Vegetarian, Gluten-Free
    (1, 1, 1, 1);  -- Vegan, Vegetarian, Gluten-Free, Lactose-Free

 * mysql://root:***@localhost/sakila
16 rows affected.

[]

In [13]:
%%sql

INSERT INTO IngredientType (IngredientID, RestrictionTypeID)
VALUES
    (1, 5),   -- Dough (Vegetarian)
    (2, 5),   -- Calzone base (Vegetarian)
    (3, 16),  -- Tomato Sauce (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (4, 6),   -- Mozzarella (Vegetarian, Lactose-Free)
    (5, 16),  -- Vegan cheese (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (6, 1),   -- Pepperoni (No restrictions)
    (7, 16),  -- BBQ Sauce (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (8, 1),   -- Grilled Chicken (No restrictions)
    (9, 16),  -- Bell Peppers (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (10, 16), -- Mushrooms (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (11, 16), -- Onions (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (12, 1),  -- Bacon (No restrictions)
    (13, 1),  -- Ham (No restrictions)
    (14, 1),  -- Hot Sausage (No restrictions)
    (15, 5),  -- Blue Cheese (Vegetarian)
    (16, 5),  -- Robiola Cheese (Vegetarian)
    (17, 5),  -- Gruyère Cheese (Vegetarian)
    (18, 5),  -- Pecorino Cheese (Vegetarian)
    (19, 16), -- Pineapple (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (20, 16), -- Cola (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (21, 16), -- Lemonade (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (22, 16), -- Water (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (23, 16), -- Iced Tea (Vegan, Vegetarian, Gluten-Free, Lactose-Free)
    (24, 7),  -- Tiramisu (Vegetarian, Gluten-Free)
    (25, 7),  -- Cheesecake (Vegetarian, Gluten-Free)
    (26, 7),  -- Chocolate Cake (Vegetarian, Gluten-Free)
    (27, 7);  -- Vanilla Ice Cream (Vegetarian, Gluten-Free)

 * mysql://root:***@localhost/sakila
27 rows affected.

[]

In [38]:
%%sql
UPDATE Customer
SET MilestoneCount = 10
WHERE MilestoneCount = 0

 * mysql://root:***@localhost/sakila
4 rows affected.

[]

In [39]:
%%sql

SELECT *
FROM Customer

 * mysql://root:***@localhost/sakila
4 rows affected.

[(2, 'First', 'Customer', 'f', datetime.date(2024, 10, 1), '914091343', None, 2, 10),
 (3, 'sarah', 'clark', 'f', datetime.date(2024, 10, 6), '456387234', None, 3, 10),
 (4, 'bruna', 'lauro', 'f', datetime.date(2004, 5, 8), '914091567', 14, 4, 10),
 (5, 'Fabio', 'Lauro', 'm', datetime.date(1974, 3, 19), '234567891', 0, 5, 10)]

In [26]:
%%sql

INSERT INTO `Order` (CustomerID, TotalPrice, OrderPlacementTime) VALUES
(2, 30.00, '2024-01-15 14:30:00'),
(2, 25.00, '2024-02-20 11:00:00'),
(4, 50.00, '2024-03-05 18:15:00'),
(4, 40.00, '2024-04-12 19:45:00'),
(4, 55.00, '2024-05-08 12:30:00');

 * mysql://root:***@localhost/sakila
5 rows affected.

[]

In [29]:
%%sql

INSERT INTO OrderItem (OrderID, ItemID, Quantity) VALUES
(42, 1, 2),  -- Assuming ItemID 1 is a Pizza, Quantity 2
(43, 2, 1),  -- Assuming ItemID 2 is a Pizza, Quantity 1
(44, 1, 1),  -- One Pizza
(45, 3, 3),  -- Assuming ItemID 3 is a Pizza, Quantity 3
(46, 1, 1);  -- One Pizza

 * mysql://root:***@localhost/sakila
5 rows affected.

[]