In [2]:
%load_ext sql
%sql mysql://root:Gabu0508@localhost/sakila

In [3]:
%%sql
USE PizzaProject

 * mysql://root:***@localhost/sakila
0 rows affected.

[]

In [5]:
%%sql

SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'pizzaproject'

 * mysql://root:***@localhost/sakila
63 rows affected.

[('def', 'pizzaproject', 'account', 'AccountID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'account', 'Password', 3, None, 'NO', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'account', 'Username', 2, None, 'NO', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', 'UNI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'area', 'AreaID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'area', 'PostalCode', 1, None, 'NO', 'varchar', 4, 12, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(4)', 'PRI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'coupons', 'CouponCode', 2, None, 'NO', 'varchar', 20, 60, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(20)', 'UNI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'coupons', 'CouponID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'coupons', 'DiscountPercentage', 3, None, 'NO', 'decimal', None, None, 5, 2, None, None, None, 'decimal(5,2)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'coupons', 'ExpirationDate', 4, None, 'YES', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'coupons', 'Used', 5, "b'0'", 'YES', 'bit', None, None, 1, None, None, None, None, 'bit(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'AccountID', 8, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'Birthdate', 5, None, 'YES', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'CustomerID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'FirstName', 2, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'Gender', 4, None, 'YES', 'char', 1, 4, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'char(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'LastName', 3, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'MilestoneCount', 9, '10', 'YES', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'NumberOfPizzas', 7, '0', 'YES', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customer', 'Phone', 6, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customerdeliveryaddress', 'CustomerID', 2, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'customerdeliveryaddress', 'DeliveryAddressID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'custompizzaingredients', 'CustomPizzaID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'custompizzaingredients', 'IngredientID', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'custompizzaingredients', 'OrderItemID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'custompizzaingredients', 'Quantity', 4, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryaddress', 'DeliveryAddressID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryaddress', 'HouseNumber', 3, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryaddress', 'PostalCode', 4, None, 'NO', 'varchar', 15, 45, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(15)', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryaddress', 'StreetName', 2, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryperson', 'Availability', 2, None, 'YES', 'enum', 13, 52, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', "enum('Available','Not available')", '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliveryperson', 'DeliveryPersonID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliverypersonarea', 'AreaID', 2, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'deliverypersonarea', 'DeliveryPersonID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredient', 'IngredientID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredient', 'IngredientName', 2, None, 'NO', 'varchar', 100, 300, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(100)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredient', 'Price', 3, None, 'NO', 'decimal', None, None, 10, 2, None, None, None, 'decimal(10,2)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredientlist', 'IngredientID', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredientlist', 'IngredientListID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredientlist', 'ItemID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredienttype', 'IngredientID', 1, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'ingredienttype', 'RestrictionTypeID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'item', 'ItemID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'item', 'ItemName', 2, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'item', 'ItemType', 3, None, 'YES', 'enum', 7, 28, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', "enum('Pizza','Drink','Dessert')", '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'CustomerID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'DeliveryAddressID', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'OrderID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'OrderPlacementTime', 5, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'OrderStatus', 4, 'In processing', 'YES', 'enum', 14, 56, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', "enum('In processing','Being Prepared','On the way','Delivered')", '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'order', 'TotalPrice', 6, '0.00', 'YES', 'decimal', None, None, 10, 2, None, None, None, 'decimal(10,2)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderdelivery', 'DeliveryPersonID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderdelivery', 'DeliveryStartTime', 3, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderdelivery', 'EstimatedDeliveryTime', 4, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderdelivery', 'OrderID', 1, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderitem', 'ItemID', 2, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderitem', 'OrderID', 1, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderitem', 'OrderItemID', 4, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'orderitem', 'Quantity', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'restrictiontype', 'GlutenFree', 4, None, 'YES', 'tinyint', None, None, 3, 0, None, None, None, 'tinyint(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'restrictiontype', 'LactoseFree', 5, None, 'YES', 'tinyint', None, None, 3, 0, None, None, None, 'tinyint(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'restrictiontype', 'RestrictionTypeID', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'restrictiontype', 'Vegan', 2, None, 'YES', 'tinyint', None, None, 3, 0, None, None, None, 'tinyint(1)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'pizzaproject', 'restrictiontype', 'Vegetarian', 3, None, 'YES', 'tinyint', None, None, 3, 0, None, None, None, 'tinyint(1)', '', '', 'select,insert,update,references', '', '', None)]

In [122]:
%%sql

SELECT * FROM Account

 * mysql://root:***@localhost/sakila
7 rows affected.

[(2, 'firstcustomer@gmail.com', 'strongpassword'),
 (3, 'birthdaygirl', 'happybirthday'),
 (4, 'brunacavalcanti', 'password'),
 (5, 'fabiolauro', '0508'),
 (6, 'kitty3', 'password21'),
 (7, 'customer2', 'password2'),
 (8, 'testuser', 'password')]

In [123]:
%%sql 

SELECT * FROM Customer

 * mysql://root:***@localhost/sakila
7 rows affected.

[(2, 'First', 'Customer', 'f', datetime.date(2024, 10, 1), '914091343', 0, 2, 7),
 (3, 'sarah', 'clark', 'f', datetime.date(2024, 10, 6), '456387234', 0, 3, 10),
 (4, 'bruna', 'lauro', 'f', datetime.date(2004, 5, 8), '914091567', 14, 4, 10),
 (5, 'Fabio', 'Lauro', 'm', datetime.date(1974, 3, 19), '234567891', 43, 5, 8),
 (6, 'Kitty', 'Smith', 'f', datetime.date(2004, 10, 26), '36305181477', 9, 6, 1),
 (7, 'customer', '2', 'm', datetime.date(2005, 2, 20), '234566', 4, 7, 6),
 (8, 'test', 'user', 'm', datetime.date(1970, 2, 3), '234566777', 0, 8, 10)]

:

In [119]:
%%sql

SELECT * FROM `Order`

 * mysql://root:***@localhost/sakila
23 rows affected.

[(60, 6, 8, 'In processing', datetime.datetime(2024, 10, 11, 15, 21, 59), Decimal('68.67')),
 (61, 7, 9, 'In processing', datetime.datetime(2024, 10, 11, 15, 25, 38), Decimal('15.26')),
 (62, 7, 9, 'In processing', datetime.datetime(2024, 10, 11, 15, 27, 57), Decimal('17.85')),
 (63, 7, 9, 'In processing', datetime.datetime(2024, 10, 11, 18, 26, 1), Decimal('28.99')),
 (64, 2, 10, 'In processing', datetime.datetime(2024, 10, 11, 18, 34, 3), Decimal('37.39')),
 (65, 2, 10, 'In processing', datetime.datetime(2024, 5, 11, 15, 25, 38), Decimal('23.45')),
 (66, 2, 10, 'In processing', datetime.datetime(2024, 5, 23, 15, 25, 38), Decimal('13.50')),
 (67, 2, 10, 'In processing', datetime.datetime(2024, 6, 15, 15, 25, 38), Decimal('25.60')),
 (68, 2, 10, 'In processing', datetime.datetime(2024, 1, 4, 15, 25, 38), Decimal('30.45')),
 (69, 3, 11, 'In processing', datetime.datetime(2024, 2, 7, 15, 25, 38), Decimal('35.20')),
 (70, 3, 11, 'In processing', datetime.datetime(2024, 3, 9, 15, 25, 38), Decimal('20.45')),
 (71, 3, 11, 'In processing', datetime.datetime(2024, 4, 10, 15, 25, 38), Decimal('24.55')),
 (72, 3, 11, 'In processing', datetime.datetime(2024, 7, 1, 15, 25, 38), Decimal('14.45')),
 (73, 4, 12, 'In processing', datetime.datetime(2024, 8, 2, 15, 25, 38), Decimal('15.50')),
 (74, 4, 12, 'In processing', datetime.datetime(2024, 9, 3, 15, 25, 38), Decimal('10.15')),
 (75, 4, 12, 'In processing', datetime.datetime(2024, 1, 4, 15, 25, 38), Decimal('40.45')),
 (76, 4, 12, 'In processing', datetime.datetime(2024, 2, 5, 15, 25, 38), Decimal('30.45')),
 (77, 5, 13, 'In processing', datetime.datetime(2024, 3, 16, 15, 25, 38), Decimal('9.10')),
 (78, 5, 13, 'In processing', datetime.datetime(2024, 4, 6, 15, 25, 38), Decimal('12.45')),
 (79, 5, 13, 'In processing', datetime.datetime(2024, 6, 10, 15, 25, 38), Decimal('10.20')),
 (80, 6, 8, 'In processing', datetime.datetime(2024, 7, 11, 15, 25, 38), Decimal('20.45')),
 (81, 7, 9, 'In processing', datetime.datetime(2024, 8, 13, 15, 25, 38), Decimal('17.45')),
 (82, 7, 9, 'In processing', datetime.datetime(2024, 9, 1, 15, 25, 38), Decimal('50.45'))]

In [98]:
%%sql

SELECT * FROM OrderItem

 * mysql://root:***@localhost/sakila
30 rows affected.

[(60, 9, 9, 74),
 (61, 2, 1, 75),
 (62, 3, 1, 76),
 (63, 6, 2, 77),
 (64, 4, 2, 78),
 (64, 15, 1, 79),
 (65, 5, 3, 80),
 (65, 1, 2, 81),
 (66, 7, 1, 82),
 (66, 8, 2, 83),
 (67, 10, 1, 84),
 (68, 3, 1, 85),
 (69, 2, 1, 86),
 (69, 3, 1, 87),
 (70, 2, 4, 88),
 (70, 1, 3, 89),
 (71, 1, 2, 90),
 (72, 4, 1, 91),
 (73, 4, 1, 92),
 (74, 6, 2, 93),
 (75, 8, 3, 94),
 (75, 15, 4, 95),
 (76, 3, 2, 96),
 (77, 10, 1, 97),
 (78, 5, 2, 98),
 (79, 2, 2, 99),
 (80, 7, 1, 100),
 (81, 1, 1, 101),
 (81, 11, 2, 102),
 (82, 2, 4, 103)]

In [99]:
%%sql 

SELECT * FROM Item

 * mysql://root:***@localhost/sakila
17 rows affected.

[(1, 'Margherita', 'Pizza'),
 (2, 'Pepperoni', 'Pizza'),
 (3, 'BBQ Chicken', 'Pizza'),
 (4, 'Vegetarian', 'Pizza'),
 (5, 'Meat Lover', 'Pizza'),
 (6, 'Ham and Cheese', 'Pizza'),
 (7, 'Quattro Formaggi', 'Pizza'),
 (8, 'Hawaiian', 'Pizza'),
 (9, 'Personalized Pizza', 'Pizza'),
 (10, 'Cola', 'Drink'),
 (11, 'Lemonade', 'Drink'),
 (12, 'Water', 'Drink'),
 (13, 'Iced Tea', 'Drink'),
 (14, 'Tiramisu', 'Dessert'),
 (15, 'Cheesecake', 'Dessert'),
 (16, 'Chocolate Cake', 'Dessert'),
 (17, 'Vanilla Ice Cream', 'Dessert')]

In [100]:
%%sql

SELECT * FROM IngredientList

 * mysql://root:***@localhost/sakila
48 rows affected.

[(1, 1, 1),
 (2, 1, 3),
 (3, 1, 4),
 (4, 2, 1),
 (5, 2, 3),
 (6, 2, 4),
 (7, 2, 6),
 (8, 3, 1),
 (9, 3, 3),
 (10, 3, 4),
 (11, 3, 7),
 (12, 3, 8),
 (13, 4, 1),
 (14, 4, 3),
 (15, 4, 4),
 (16, 4, 9),
 (17, 4, 10),
 (18, 4, 11),
 (19, 5, 1),
 (20, 5, 3),
 (21, 5, 4),
 (22, 5, 6),
 (23, 5, 12),
 (24, 5, 13),
 (25, 5, 14),
 (26, 6, 1),
 (27, 6, 3),
 (28, 6, 4),
 (29, 6, 13),
 (30, 7, 1),
 (31, 7, 3),
 (32, 7, 15),
 (33, 7, 16),
 (34, 7, 17),
 (35, 7, 18),
 (36, 8, 1),
 (37, 8, 3),
 (38, 8, 4),
 (39, 8, 13),
 (40, 8, 19),
 (41, 10, 20),
 (42, 11, 21),
 (43, 12, 22),
 (44, 13, 23),
 (45, 14, 24),
 (46, 15, 25),
 (47, 16, 26),
 (48, 17, 27)]

In [101]:
%%sql

SELECT * FROM Ingredient

 * mysql://root:***@localhost/sakila
27 rows affected.

[(1, 'Dough', Decimal('4.00')),
 (2, 'Calzone base', Decimal('4.50')),
 (3, 'Tomato Sauce', Decimal('1.00')),
 (4, 'Mozzarella', Decimal('2.00')),
 (5, 'Vegan cheese', Decimal('3.00')),
 (6, 'Pepperoni', Decimal('3.00')),
 (7, 'BBQ Sauce', Decimal('1.20')),
 (8, 'Grilled Chicken', Decimal('3.50')),
 (9, 'Bell Peppers', Decimal('1.00')),
 (10, 'Mushrooms', Decimal('1.00')),
 (11, 'Onions', Decimal('0.50')),
 (12, 'Bacon', Decimal('2.50')),
 (13, 'Ham', Decimal('2.50')),
 (14, 'Hot Sausage', Decimal('3.50')),
 (15, 'Blue Cheese', Decimal('2.50')),
 (16, 'Robiola Cheese', Decimal('2.50')),
 (17, 'Gruyre Cheese', Decimal('2.50')),
 (18, 'Pecorino Cheese', Decimal('2.50')),
 (19, 'Pineapple', Decimal('1.00')),
 (20, 'Cola', Decimal('2.50')),
 (21, 'Lemonade', Decimal('2.80')),
 (22, 'Water', Decimal('1.50')),
 (23, 'Iced Tea', Decimal('2.50')),
 (24, 'Tiramisu', Decimal('4.80')),
 (25, 'Cheesecake', Decimal('5.50')),
 (26, 'Chocolate Cake', Decimal('4.20')),
 (27, 'Vanilla Ice Cream', Decimal('5.00'))]

In [102]:
%%sql

SELECT * FROM IngredientType

 * mysql://root:***@localhost/sakila
27 rows affected.

[(1, 5),
 (2, 5),
 (3, 16),
 (4, 6),
 (5, 16),
 (6, 1),
 (7, 16),
 (8, 1),
 (9, 16),
 (10, 16),
 (11, 16),
 (12, 1),
 (13, 1),
 (14, 1),
 (15, 5),
 (16, 5),
 (17, 5),
 (18, 5),
 (19, 16),
 (20, 16),
 (21, 16),
 (22, 16),
 (23, 16),
 (24, 7),
 (25, 7),
 (26, 7),
 (27, 7)]

In [103]:
%%sql

SELECT *
FROM RestrictionType

 * mysql://root:***@localhost/sakila
16 rows affected.

[(1, 0, 0, 0, 0),
 (2, 0, 0, 0, 1),
 (3, 0, 0, 1, 0),
 (4, 0, 0, 1, 1),
 (5, 0, 1, 0, 0),
 (6, 0, 1, 0, 1),
 (7, 0, 1, 1, 0),
 (8, 0, 1, 1, 1),
 (9, 1, 0, 0, 0),
 (10, 1, 0, 0, 1),
 (11, 1, 0, 1, 0),
 (12, 1, 0, 1, 1),
 (13, 1, 1, 0, 0),
 (14, 1, 1, 0, 1),
 (15, 1, 1, 1, 0),
 (16, 1, 1, 1, 1)]

In [104]:
%%sql

SELECT * FROM DeliveryAddress

 * mysql://root:***@localhost/sakila
7 rows affected.

[(8, 'Cornelia street', '10', '6211'),
 (9, 'street', '34', '6111'),
 (10, 'incredible street', '34', '6211'),
 (11, 'Incredible street', '55', '6225'),
 (12, 'Sorbonnelan', '66', '6217'),
 (13, 'Avenue Ceramique', '1', '6218'),
 (14, 'Super street', '23', '6219')]

In [105]:
%%sql

SELECT * FROM CustomerDeliveryAddress

 * mysql://root:***@localhost/sakila
6 rows affected.

[(8, 6), (9, 7), (10, 2), (11, 3), (12, 4), (13, 5)]

In [106]:
%%sql

SELECT * FROM Area

 * mysql://root:***@localhost/sakila
19 rows affected.

[('6111', 0),
 ('6211', 0),
 ('6212', 1),
 ('6213', 1),
 ('6214', 0),
 ('6215', 1),
 ('6216', 2),
 ('6217', 2),
 ('6218', 3),
 ('6219', 3),
 ('6221', 0),
 ('6222', 5),
 ('6223', 5),
 ('6224', 4),
 ('6225', 4),
 ('6226', 4),
 ('6227', 6),
 ('6228', 6),
 ('6229', 6)]

In [107]:
%%sql

SELECT * 
FROM OrderDelivery

 * mysql://root:***@localhost/sakila
0 rows affected.

[]

In [108]:
%%sql

SELECT * FROM DeliveryPerson

 * mysql://root:***@localhost/sakila
28 rows affected.

[(1, 'Available'),
 (2, 'Available'),
 (3, 'Available'),
 (4, 'Available'),
 (5, 'Available'),
 (6, 'Available'),
 (7, 'Available'),
 (8, 'Available'),
 (9, 'Available'),
 (10, 'Available'),
 (11, 'Available'),
 (12, 'Available'),
 (13, 'Available'),
 (14, 'Available'),
 (15, 'Available'),
 (16, 'Available'),
 (17, 'Available'),
 (18, 'Available'),
 (19, 'Available'),
 (20, 'Available'),
 (21, 'Available'),
 (22, 'Available'),
 (23, 'Available'),
 (24, 'Available'),
 (25, 'Available'),
 (26, 'Available'),
 (27, 'Available'),
 (28, 'Available')]

In [109]:
%%sql

SELECT * FROM DeliveryPersonArea

 * mysql://root:***@localhost/sakila
28 rows affected.

[(1, 0),
 (2, 0),
 (3, 0),
 (4, 0),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 2),
 (10, 2),
 (11, 2),
 (12, 2),
 (13, 3),
 (14, 3),
 (15, 3),
 (16, 3),
 (17, 4),
 (18, 4),
 (19, 4),
 (20, 4),
 (21, 5),
 (22, 5),
 (23, 5),
 (24, 5),
 (25, 6),
 (26, 6),
 (27, 6),
 (28, 6)]

In [110]:
%%sql

SELECT * FROM Coupons

 * mysql://root:***@localhost/sakila
2 rows affected.

[(1, 'fc123', Decimal('5.00'), datetime.date(2024, 12, 1), b'\x00'),
 (2, 'fc111', Decimal('10.00'), datetime.date(2024, 12, 1), b'\x00')]

In [120]:
%%sql

SELECT *
FROM CustomPizzaIngredients

 * mysql://root:***@localhost/sakila
2 rows affected.

[(6, 74, 1, 1), (7, 74, 19, 1)]